// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.responsive {
  width: 100%;
  height: auto;
}

.thumbnail {
  max-width: 100px;
  height: auto;
  max-height: 100px;
}
